In [44]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix, recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns 


df = pd.read_csv('../Lisa/Test.csv', error_bad_lines=False, sep=',')
df = df.drop(df.columns[[0]], axis = 1)
df

,Respondentnummer,Gender,Geboortedatum,Age on testday (t0),Age on testday (t1),AST (tijd afgerond op 0.1s),MQ score t0,MQ score t1,Lengte (afgerond op 0.1 cm),Gewicht (afgerond op 0.1 kg),...,belonen_wanneer_rustig,buitenspeel_materiaal_beschikbaar,tv_bezighouden,niet_buiten_verkeersveiligheid,niet_buiten_criminaliteit,toestaan_langetijd_schermen,AST-1 (tijd afgerond op 0.1s),AST-2 (tijd afgerond op 0.1s),Testdatum 2,Zip-code school
0,307174,0.0,NaN,0.00,,19.8,0.000000,NaN,117.0,20.4,...,NaN,NaN,NaN,NaN,NaN,NaN,35.6,NaN,NaN,NaN
1,310103,1.0,17.Feb.2017,3.03,5.82,34.3,0.000000,NaN,114.8,22.6,...,2.0,5.0,2.0,1.0,1.0,999.0,18.5,NaN,NaN,NaN
2,303110,1.0,1.Feb.2016,4.03,5.12,39.6,80.050505,NaN,106.7,15.6,...,2.0,5.0,2.0,1.0,1.0,2.0,25,NaN,NaN,NaN
3,302121,1.0,19.Nov.2015,4.06,5.59,38.1,83.202100,NaN,99.0,16.7,...,1.0,5.0,2.0,1.0,1.0,2.0,27,NaN,NaN,NaN
4,302128,0.0,15.Nov.2015,4.07,5.6,37.2,84.274194,NaN,102.0,16.6,...,1.0,4.0,3.0,1.0,1.0,2.0,21.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,301167,1.0,NaN,NaN,7.03,22.7,NaN,NaN,125.1,22.0,...,1.0,5.0,2.0,2.0,1.0,1.0,36.6,NaN,NaN,NaN
983,301170,1.0,NaN,NaN,,51.6,NaN,NaN,114.1,21.4,...,NaN,NaN,NaN,NaN,NaN,NaN,28.3,NaN,NaN,NaN
984,305134,0.0,NaN,NaN,,31.2,NaN,NaN,118.2,25.6,...,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN
985,305138,0.0,NaN,NaN,,30.4,NaN,NaN,109.2,18.8,...,NaN,NaN,NaN,NaN,NaN,NaN,17.4,NaN,NaN,NaN
986,306108,0.0,NaN,NaN,5.66,25.1,NaN,NaN,110.0,18.5,...,NaN,NaN,NaN,NaN,NaN,NaN,20.1,NaN,NaN,2546.0

In [45]:
# create empty column
df['BMI_category'] = ""

In [46]:
col1= 'Gender'
col2= 'Age on testday (t0)'
col3= 'BMI'
col4= 'BMI_category'
# BMI syntax for the Boys
def myfunc(col1, col2, col3, col4):
   if col1 ==0 and col2 > 2.00 and col2 <= 4.99 and col3 > 0 and col3 <= 17.54: col4=1
   elif col1==0 and col2 > 2.00 and col2 <= 4.99 and col3 > 17.55 and col3 <= 19.28: col4=2
   elif col1==0 and col2 > 2.00 and col2 <= 4.99 and col3 > 19.29 and col3 <= 35.00: col4=3
   elif col1==0 and col2 > 5.00 and col2 <= 5.99 and col3 > 0 and col3 <= 17.41: col4=1
   elif col1==0 and col2 > 5.00 and col2 <= 5.99 and col3 > 17.42 and col3 <= 19.29: col4=2
   elif col1==0 and col2 > 5.00 and col2 <= 5.99 and col3 > 19.30 and col3 <= 35.00: col4=3 
   elif col1==0 and col2 > 6.00 and col2 <= 6.99 and col3 > 0 and col3 <= 17.54: col4=1
   elif col1==0 and col2 > 6.00 and col2 <= 6.99 and col3 > 17.55 and col3 <= 19.77: col4=2
   elif col1==0 and col2 > 6.00 and col2 <= 6.99 and col3 > 19.78 and col3 <= 35.00: col4=3 
   elif col1==0 and col2 > 7.00 and col2 <= 7.99 and col3 > 0 and col3 <= 17.91: col4=1
   elif col1==0 and col2 > 7.00 and col2 <= 7.99 and col3 > 17.92 and col3 <= 20.62: col4=2 
   elif col1==0 and col2 > 7.00 and col2 <= 7.99 and col3 > 20.63 and col3 <= 35.00: col4=3       
   else: col4=col4
   return col4

df['BMI_category'] = df.apply(lambda x: myfunc(x[col1], x[col2], x[col3], x[col4]), axis=1)

In [47]:
# BMI syntax for the Girls
def myfunc(col1, col2, col3, col4):
   if col1 ==1 and col2 > 2.00 and col2 <= 4.99 and col3 > 0 and col3 <= 17.27: col4=1
   elif col1==1 and col2 > 2.00 and col2 <= 4.99 and col3 > 17.28 and col3 <= 19.14: col4=2
   elif col1==1 and col2 > 2.00 and col2 <= 4.99 and col3 > 19.15 and col3 <= 35.00: col4=3
   elif col1==1 and col2 > 5.00 and col2 <= 5.99 and col3 > 0 and col3 <= 17.14: col4=1
   elif col1==1 and col2 > 5.00 and col2 <= 5.99 and col3 > 17.15 and col3 <= 19.16: col4=2
   elif col1==1 and col2 > 5.00 and col2 <= 5.99 and col3 > 19.17 and col3 <= 35.00: col4=3 
   elif col1==1 and col2 > 6.00 and col2 <= 6.99 and col3 > 0 and col3 <= 17.33: col4=1
   elif col1==1 and col2 > 6.00 and col2 <= 6.99 and col3 > 17.34 and col3 <= 19.64: col4=2
   elif col1==1 and col2 > 6.00 and col2 <= 6.99 and col3 > 19.65 and col3 <= 35.00: col4=3 
   elif col1==1 and col2 > 7.00 and col2 <= 7.99 and col3 > 0 and col3 <= 17.74: col4=1
   elif col1==1 and col2 > 7.00 and col2 <= 7.99 and col3 > 17.75 and col3 <= 20.50: col4=2 
   elif col1==1 and col2 > 7.00 and col2 <= 7.99 and col3 > 20.51 and col3 <= 35.00: col4=3       
   else: col4=col4
   return col4

df['BMI_category'] = df.apply(lambda x: myfunc(x[col1], x[col2], x[col3], x[col4]), axis=1)

In [48]:
print(df['BMI_category'])

0
1      1
2      1
3      1
4      1
      ..
982
983
984
985
986
Name: BMI_category, Length: 987, dtype: object

In [49]:
print ('\nThe amount of kids in category 1: ' + str(sum(df.BMI_category == 1)))
print ('These are ' + str(sum(df.BMI_category == 1)/len(df.BMI_category)*100) +
       " % of kids present in the df")

print ('\nThe amount of kids in category 2: ' + str(sum(df.BMI_category == 2)))
print ('These are ' + str(sum(df.BMI_category == 2)/len(df.BMI_category)*100) +
       " % of kids present in the df")

print ('\nThe amount of kids in category 3: ' + str(sum(df.BMI_category == 3)))
print ('These are ' + str(sum(df.BMI_category == 3)/len(df.BMI_category)*100) +
       " % of kids present in the df")

The amount of kids in category 1: 793
These are 80.34447821681864 % of kids present in the df

The amount of kids in category 2: 88
These are 8.915906788247213 % of kids present in the df

The amount of kids in category 3: 47
These are 4.761904761904762 % of kids present in the df

In [43]:
df.to_csv(r'./cleaning_BMICAT.csv', index = False)